name: Deploy to CapRover

on:
  push:
    branches:
      - main
      - master

jobs:
  deploy:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      
      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '18'
      
      - name: Install CapRover CLI
        run: npm install -g caprover
      
      - name: Deploy to CapRover
        env:
          CAPROVER_SERVER: ${{ secrets.CAPROVER_SERVER }}
          CAPROVER_PASSWORD: ${{ secrets.CAPROVER_PASSWORD }}
          CAPROVER_APP_NAME: ${{ secrets.CAPROVER_APP_NAME }}
        run: |
          caprover login -s $CAPROVER_SERVER -p $CAPROVER_PASSWORD
          caprover deploy -a $CAPROVER_APP_NAME

